<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login ejs</title>
    <link rel="stylesheet" href="public/style.css" />
  </head>
  <body>
    <section>
      <h1>Login</h1>
      <form action="login" method="post">
        <label for="user">Email</label>
        <input
          required
          type="email"
          placeholder="Enter your email"
          name="username"
        />

        <label for="user">Password</label>
        <input
          required
          type="password"
          placeholder="Enter your password"
          name="password"
        />
        <input type="submit" />
      </form>
      <p><a href="home">home</a></p>
    </section>
  </body>
</html>
