<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login ejs</title>
    <link rel="stylesheet" href="public/style.css" />
  </head>
  <body>
    <section>
      <!-- <h1>Login</h1> -->
      <form>
        <label for="user">Email</label>
        <input type="text" placeholder="Enter your email" name="email" />

        <label for="user">Password</label>
        <input type="text" placeholder="Enter your password" name="pass" />
        <input type="submit" />
      </form>
    </section>
  </body>
</html>
