<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>success</title>
  </head>
  <body>
    <!-- <h1 style="color: gray">Welcome!</h1> -->
    <h1 style="color: gray">Welcome, <%= user.email %></h1>

    <form action="/signout" method="post">
      <input type="submit" value="Log out" />
    </form>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iure est
      cumque, doloremque nobis mollitia vero atque. Qui soluta voluptatum quis
      iure delectus iste dolorum, dolor cum culpa veniam fugiat ipsum
      necessitatibus magnam eos, a ducimus! Quod placeat aliquid debitis beatae
      non labore alias sunt praesentium a aut, repellendus assumenda ullam
      ducimus deserunt! Aperiam culpa autem commodi labore velit iusto, quod
      soluta excepturi vel. Atque, possimus. Dolorem ratione similique nam,
      labore magni libero quidem quo! Aliquam cupiditate, magnam at modi nihil
      enim veritatis, quisquam non odio sunt quidem adipisci ad? Voluptatem
      doloribus hic explicabo fugit nam distinctio obcaecati, reiciendis culpa.
    </p>
  </body>
</html>
