* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
input {
  display: flex;
  margin: 5px 0;
}
.login {
  font-size: 30px;
  margin: 20px;
  color: green;
}
